body, html {
  padding: 0px;
  margin: 0px;
  position: relative;
  min-width: 1024px;
  min-height: 768px;
  height: 100%;
}
body {
  font-family: "Courier New", Courier, monospace;
  -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 5px 5px 5px rgba(135,135,135,0.91) ;
  }
::-webkit-scrollbar{
    width: 0px;
    background: transparent;
  }
#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-image: url('../gfx/wrapper-night.png'); background-repeat:no-repeat;
    background-size: 100%;}
  hr {
  border: 0.5px solid black;
}
#sectionLeft {
  overflow: scroll;
  width: 95%;
    max-width: 550px;
  background: rgba(179, 179, 179, 0.3);
  text-align: center;
}
#sectionMiddle {
    overflow: scroll;
  width: 95%;
    max-width: 650px;
  background: rgba(179, 179, 179, 0.3);
}
#programmer{
  width: 80%;
  margin-top: 3%; margin-bottom: 3%;
    border-radius: 50%;
    cursor: pointer;
}
.clicked {
    animation: pulsate-bck 0.3s linear 1;
}
@keyframes pulsate-bck {
  50%  {transform: scale(0.95);}
}
#playerInfo {
  overflow: scroll;
  width: 95%;
  height: 24%;
  margin: auto;
  margin-top: 2%; margin-bottom: 3%;
  background: rgba(179, 179, 179, 0.3);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
#topPlayers {
   text-align: center;
   font-size: 90%;
}
#sectionRight {
  overflow: scroll;
  width: 95%;
    max-width: 550px;
  background: rgba(179, 179, 179, 0.3);
}
#Rooms {
  position: relative;
  width: 95%;
  margin: auto;
  margin-bottom: 2%;
  padding-bottom: 2%;
  padding-top: 2.5%;
  background: rgba(179, 179, 179, 0.3);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
#Room1, #Room2, #Room3, #Room4, #Room5, #Room6, #Room7, #Room8 {
  position: relative;
  width: 95%;
  height: 195px;
  margin: auto;
  box-shadow: inset 0px 0px 10px -2px #474646,5px 5px 18px -4px #1A1A1A;
  -webkit-box-shadow: inset 0px 0px 10px -2px #474646,5px 5px 18px -4px #1A1A1A;
  -moz-box-shadow: inset 0px 0px 10px -2px #474646,5px 5px 18px -4px #1A1A1A;
  -o-box-shadow: inset 0px 0px 10px -2px #474646,5px 5px 18px -4px #1A1A1A;}
#Room1 {background-image: url('../gfx/room1.png'); background-repeat:no-repeat;  background-size: cover; margin-bottom: 3%;}
#Room2 {background-image: url('../gfx/room2.png'); background-repeat:no-repeat;  background-size: cover; margin-bottom: 3%;}
#Room3 {background-image: url('../gfx/room3.png'); background-repeat:no-repeat;  background-size: cover; margin-bottom: 3%;}
#Room4 {background-image: url('../gfx/room4.png'); background-repeat:no-repeat;  background-size: cover; margin-bottom: 3%;}
#Room5 {background-image: url('../gfx/room5.png'); background-repeat:no-repeat;  background-size: cover; margin-bottom: 3%;}
#Room6 {background-image: url('../gfx/room6.png'); background-repeat:no-repeat;  background-size: cover; margin-bottom: 3%;}
#Room7 {background-image: url('../gfx/room7.png'); background-repeat:no-repeat;  background-size: cover; margin-bottom: 3%;}
#Room8 {background-image: url('../gfx/room8.png'); background-repeat:no-repeat;  background-size: 100%; margin-bottom: 3%;}
#spawner1, #spawner2, #spawner3, #spawner4, #spawner5, #spawner6, #spawner7, #spawner8 {width: 100%; height: 50px; position: relative; margin-top: 135px;}
#worker1, #worker3, #worker5, #worker5a, #worker7{
width: 150px;
height: 150px;
position: absolute;
left: 60px;
bottom: 20%;
}
#worker2, #worker4, #worker4a, #worker6, #worker6a, #worker8{
width: 150px;
height: 150px;
position: absolute;
left: 220px;
bottom: 20%;
}
#Money {
  padding: 2%;
  width: 90%;
  height: 13%;
  margin: auto;
  margin-top: 3%; margin-bottom: 3%;
  background: rgba(179, 179, 179, 0.3);
  box-shadow: inset 0px 0px 10px -2px #474646,5px 5px 18px -4px #1A1A1A;
  -webkit-box-shadow: inset 0px 0px 10px -2px #474646,5px 5px 18px -4px #1A1A1A;
  -moz-box-shadow: inset 0px 0px 10px -2px #474646,5px 5px 18px -4px #1A1A1A;
  -o-box-shadow: inset 0px 0px 10px -2px #474646,5px 5px 18px -4px #1A1A1A;
}
#Store {
  position: relative;
  width: 95%;
  margin: auto;
  margin-bottom: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  background: rgba(179, 179, 179, 0.3);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
#Store>div {
  cursor: pointer;
  position: relative;
  width: 95%;
  height: 100px;
  margin: auto;
  padding-top: 2%;
  background-color: rgba(179, 179, 179, 0.5);
  box-shadow: inset 0px 0px 10px -2px #474646,5px 5px 18px -4px #1A1A1A;
  -webkit-box-shadow: inset 0px 0px 10px -2px #474646,5px 5px 18px -4px #1A1A1A;
  -moz-box-shadow: inset 0px 0px 10px -2px #474646,5px 5px 18px -4px #1A1A1A;
  -o-box-shadow: inset 0px 0px 10px -2px #474646,5px 5px 18px -4px #1A1A1A;
}
#Buy0 {background-image: url('../gfx/logo-clicker.png'); background-repeat: no-repeat;  background-size: 20%; background-position: right center;}
#Buy1 {background-image: url('../gfx/logo-assembler.png'); background-repeat: no-repeat;  background-size: 20%; background-position: right center;}
#Buy2 {background-image: url('../gfx/logo-pascal.png'); background-repeat: no-repeat;  background-size: 20%; background-position: right center;}
#Buy3 {background-image: url('../gfx/logo-visualbasic.png'); background-repeat: no-repeat;  background-size: 20%; background-position: right center;}
#Buy4 {background-image: url('../gfx/logo-c.png'); background-repeat: no-repeat;  background-size: 20%; background-position: right center;}
#Buy5 {background-image: url('../gfx/logo-csharp.png'); background-repeat: no-repeat;  background-size: 20%; background-position: right center;}
#Buy6 {background-image: url('../gfx/logo-javascript.png'); background-repeat: no-repeat;  background-size: 20%; background-position: right center;}
#Buy7 {background-image: url('../gfx/logo-java.png'); background-repeat: no-repeat;  background-size: 20%; background-position: right center;}
#Buy8 {background-image: url('../gfx/logo-python.png'); background-repeat: no-repeat;  background-size: 20%; background-position: right center;}

.disabled
{  pointer-events: none;  opacity: 0.5;  background: #CCC; }

button.resetButton {
  margin: 2%;
    margin-top: 4%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  height: 40px;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  font: normal 17px/normal "Courier New", Courier, monospace;
  color: rgba(230, 230, 230, 1);
  text-decoration: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(40,40,40,0.4);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  }

.resetButton:active {
  background-color: #334e63;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#username{
  margin: 2%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  height: 40px;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  font: normal 20px/normal "Courier New", Courier, monospace;
  color: rgba(230, 230, 230, 1);
  text-decoration: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(40,40,40,0.4);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
#username:hover {
  color: rgba(181,181,181,1);
  background: rgba(0,0,0,0.4);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

#username:focus {
  width: 230px;
  cursor: default;
  padding: -13px 20px 0;
  color: rgba(230, 230, 230, 1);
  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
#top5, #others{
  font-family: "Courier New", Courier, monospace;
  -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 5px 5px 5px rgba(135,135,135,0.91) ;
}
.playpause {
    margin-bottom: 6%;
}
.playpause label {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 30px;
  cursor: pointer;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  will-change: border-width;
  border-style: double;
  border-width: 0px 0 0px 30px;
}
.playpause input[type='checkbox'] {
  visibility: hidden;
}
.playpause input[type='checkbox']:checked + label {
  border-style: solid;
  border-width: 15px 0 15px 30px;
}